# Taxi Dataset Data Frame Example
This example is based on the NYC Taxi Dataset and shows how to use the Spark Data Frame API to make basic data analysis.

In [1]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext("local")
spark = SparkSession.builder.getOrCreate()

In [2]:
#spark.stop()

## Load the data

In [2]:
def correctRows(p):
    if(len(p)==17):
        if(isfloat(p[5]) and isfloat(p[11])):
            if(float(p[4])> 60 and float(p[5])>0.10 and float(p[11])> 0.10 and float(p[16])> 0.10):
                return p
#Exception Handling and removing wrong datalines
def isfloat(value):
    try:
        float(value)
        return True
    except:
         return False

In [3]:
path="data\\"
testFile= path + "taxi-data-sorted-verysmall.csv"
df = spark.read.format('csv').options(header='false', inferSchema='true',  sep =",").load(testFile)

In [4]:
df.count()

10000

In [5]:
df.show(5, truncate=True)

+--------------------+--------------------+-------------------+-------------------+---+----+----------+---------+----------+---------+----+----+----+----+----+----+----+
|                 _c0|                 _c1|                _c2|                _c3|_c4| _c5|       _c6|      _c7|       _c8|      _c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|
+--------------------+--------------------+-------------------+-------------------+---+----+----------+---------+----------+---------+----+----+----+----+----+----+----+
|07290D3599E7A0D62...|E7750A37CAB07D0DF...|2013-01-01 00:00:00|2013-01-01 00:02:00|120|0.44|-73.956528|40.716976| -73.96244|40.715008| CSH| 3.5| 0.5| 0.5| 0.0| 0.0| 4.5|
|22D70BF00EEB0ADC8...|3FF2709163DE7036F...|2013-01-01 00:02:00|2013-01-01 00:02:00|  0| 0.0|       0.0|      0.0|       0.0|      0.0| CSH|27.0| 0.0| 0.5| 0.0| 0.0|27.5|
|0EC22AAF491A8BD91...|778C92B26AE78A9EB...|2013-01-01 00:01:00|2013-01-01 00:03:00|120|0.71|-73.973145|40.752827|-73.965897|40.760445| CSH| 4.0| 0.5| 0.5| 0.0| 0.0| 5.0|
|1390FB380189DF6BB...|BE317B986700F63C4...|2013-01-01 00:01:00|2013-01-01 00:03:00|120|0.48|-74.004173|40.720947|-74.003838|40.726189| CSH| 4.0| 0.5| 0.5| 0.0| 0.0| 5.0|
|3B4129883A1D05BE8...|7077F9FD5AD649AEA...|2013-01-01 00:01:00|2013-01-01 00:03:00|120|0.61|-73.987373|40.724861|-73.983772|40.730995| CRD| 4.0| 0.5| 0.5| 0.0| 0.0| 5.0|
+--------------------+--------------------+-------------------+-------------------+---+----+----------+---------+----------+---------+----+----+----+----+----+----+----+
only showing top 5 rows

# Convert to Pandas DataFrame
Converting a Spark DataFrame to a Pandas DataFrame is a common operation that can be particularly useful when you need to perform tasks such as data visualization or analysis that are more convenient in the Pandas ecosystem. One significant advantage of using Pandas DataFrames is their visually appealing and interactive display when used within Jupyter Notebooks.

In [6]:
import pandas as pd
# Convert to Pandas Data Frame
df.toPandas().head(5)

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16
0,07290D3599E7A0D62097A346EFCC1FB5,E7750A37CAB07D0DFF0AF7E3573AC141,2013-01-01 00:00:00,2013-01-01 00:02:00,120,0.44,-73.956528,40.716976,-73.962440,40.715008,CSH,3.5,0.5,0.5,0.0,0.0,4.5
1,22D70BF00EEB0ADC83BA8177BB861991,3FF2709163DE7036FCAA4E5A3324E4BF,2013-01-01 00:02:00,2013-01-01 00:02:00,0,0.00,0.000000,0.000000,0.000000,0.000000,CSH,27.0,0.0,0.5,0.0,0.0,27.5
2,0EC22AAF491A8BD91F279350C2B010FD,778C92B26AE78A9EBDF96B49C67E4007,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.71,-73.973145,40.752827,-73.965897,40.760445,CSH,4.0,0.5,0.5,0.0,0.0,5.0
3,1390FB380189DF6BBFDA4DC847CAD14F,BE317B986700F63C43438482792C8654,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.48,-74.004173,40.720947,-74.003838,40.726189,CSH,4.0,0.5,0.5,0.0,0.0,5.0
4,3B4129883A1D05BE89F2C929DE136281,7077F9FD5AD649AEACA4746B2537E3FA,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.61,-73.987373,40.724861,-73.983772,40.730995,CRD,4.0,0.5,0.5,0.0,0.0,5.0

# Print the schema

In [7]:
# Print Schema
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)
 |-- _c13: double (nullable = true)
 |-- _c14: double (nullable = true)
 |-- _c15: double (nullable = true)
 |-- _c16: double (nullable = true)

## Rename columns

In [8]:
colum_names = ["medallion",
    "hack_license",
    'pickup_datetime',
    'dropoff_datetime',
    'trip_time',
    'trip_distance',
    'pickup_longitude',
    'pickup_latitude',
    'dropoff_longitude',
    'dropoff_latitude',
    'payment_type',
    'fare_amount',
    'surcharge',
    'mta_tax',
    'tip_amount',
    'tolls_amount',
    'total_amount',
] 
df = df.toDF(*colum_names)
df.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- trip_time: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)

## Drop Columns

In [9]:
drop_colum_names = [
    'pickup_longitude',
    'pickup_latitude',
    'dropoff_longitude',
    'dropoff_latitude',
]
df = df.drop(*drop_colum_names) 
df.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- trip_time: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)

# Add new columns

In [10]:
from pyspark.sql.functions import col, substring
# Note: Please note that the position is not zero based, but 1 based index.
# Create a new columns wiht the year, month, day, hour and minute of the taxi trip
df = df.withColumn('year', substring('pickup_datetime', 1,4))\
    .withColumn('month', substring('pickup_datetime', 6,2))\
    .withColumn('day', substring('pickup_datetime', 9,2))\
    .withColumn('hour', substring('pickup_datetime', 12,2))\
    .withColumn('minute', substring('pickup_datetime', 15,2))
df.show(5,truncate=False, vertical=False)

+--------------------------------+--------------------------------+-------------------+-------------------+---------+-------------+------------+-----------+---------+-------+----------+------------+------------+----+-----+---+----+------+
|medallion                       |hack_license                    |pickup_datetime    |dropoff_datetime   |trip_time|trip_distance|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|year|month|day|hour|minute|
+--------------------------------+--------------------------------+-------------------+-------------------+---------+-------------+------------+-----------+---------+-------+----------+------------+------------+----+-----+---+----+------+
|07290D3599E7A0D62097A346EFCC1FB5|E7750A37CAB07D0DFF0AF7E3573AC141|2013-01-01 00:00:00|2013-01-01 00:02:00|120      |0.44         |CSH         |3.5        |0.5      |0.5    |0.0       |0.0         |4.5         |2013|01   |01 |00  |00    |
|22D70BF00EEB0ADC83BA8177BB861991|3FF2709163DE7036FCAA4E5A3324E4BF|2013-01-01 00:02:00|2013-01-01 00:02:00|0        |0.0          |CSH         |27.0       |0.0      |0.5    |0.0       |0.0         |27.5        |2013|01   |01 |00  |02    |
|0EC22AAF491A8BD91F279350C2B010FD|778C92B26AE78A9EBDF96B49C67E4007|2013-01-01 00:01:00|2013-01-01 00:03:00|120      |0.71         |CSH         |4.0        |0.5      |0.5    |0.0       |0.0         |5.0         |2013|01   |01 |00  |01    |
|1390FB380189DF6BBFDA4DC847CAD14F|BE317B986700F63C43438482792C8654|2013-01-01 00:01:00|2013-01-01 00:03:00|120      |0.48         |CSH         |4.0        |0.5      |0.5    |0.0       |0.0         |5.0         |2013|01   |01 |00  |01    |
|3B4129883A1D05BE89F2C929DE136281|7077F9FD5AD649AEACA4746B2537E3FA|2013-01-01 00:01:00|2013-01-01 00:03:00|120      |0.61         |CRD         |4.0        |0.5      |0.5    |0.0       |0.0         |5.0         |2013|01   |01 |00  |01    |
+--------------------------------+--------------------------------+-------------------+-------------------+---------+-------------+------------+-----------+---------+-------+----------+------------+------------+----+-----+---+----+------+
only showing top 5 rows

In [11]:
# More beautiful way to show the data frame
# Note: Use this only for small data frames. 
# This operation will collect all data to the driver and can lead to out of memory errors 
# or very slow performance.
df.toPandas()

,medallion,hack_license,pickup_datetime,dropoff_datetime,trip_time,trip_distance,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,year,month,day,hour,minute
0,07290D3599E7A0D62097A346EFCC1FB5,E7750A37CAB07D0DFF0AF7E3573AC141,2013-01-01 00:00:00,2013-01-01 00:02:00,120,0.44,CSH,3.5,0.5,0.5,0.0,0.0,4.5,2013,01,01,00,00
1,22D70BF00EEB0ADC83BA8177BB861991,3FF2709163DE7036FCAA4E5A3324E4BF,2013-01-01 00:02:00,2013-01-01 00:02:00,0,0.00,CSH,27.0,0.0,0.5,0.0,0.0,27.5,2013,01,01,00,02
2,0EC22AAF491A8BD91F279350C2B010FD,778C92B26AE78A9EBDF96B49C67E4007,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.71,CSH,4.0,0.5,0.5,0.0,0.0,5.0,2013,01,01,00,01
3,1390FB380189DF6BBFDA4DC847CAD14F,BE317B986700F63C43438482792C8654,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.48,CSH,4.0,0.5,0.5,0.0,0.0,5.0,2013,01,01,00,01
4,3B4129883A1D05BE89F2C929DE136281,7077F9FD5AD649AEACA4746B2537E3FA,2013-01-01 00:01:00,2013-01-01 00:03:00,120,0.61,CRD,4.0,0.5,0.5,0.0,0.0,5.0,2013,01,01,00,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,F476E33AE955F276113772AB44540488,B7C3EDB805D5074CFFBA649A98CBCC3D,2013-01-01 00:44:00,2013-01-01 00:56:00,720,2.22,CSH,10.0,0.5,0.5,0.0,0.0,11.0,2013,01,01,00,44
9996,F6AC5ED8F624EC43788EA84D9979379C,241AB3536C3494045D967E758844F5B6,2013-01-01 00:49:00,2013-01-01 00:56:00,420,0.75,CRD,6.0,0.5,0.5,1.3,0.0,8.3,2013,01,01,00,49
9997,F865789AEA73DF9A5CDECE38BC5BB3B5,2223D379E6348801232994F06477548E,2013-01-01 00:41:00,2013-01-01 00:56:00,900,3.64,CRD,14.0,0.5,0.5,1.0,0.0,16.0,2013,01,01,00,41
9998,F920D6FCA90502CC780348B1AC364596,DB93A24BCE932FD908322C103C821A39,2013-01-01 00:42:00,2013-01-01 00:56:00,840,1.43,CSH,10.0,0.5,0.5,0.0,0.0,11.0,2013,01,01,00,42
9999,FAC826F3A42DAC858AAB54B7509D7AC7,5DDBB30521FB88F3E242DEEEAFB47F4B,2013-01-01 00:43:00,2013-01-01 00:56:00,780,2.28,CSH,11.5,0.5,0.5,0.0,0.0,12.5,2013,01,01,00,43

In [12]:
# Create fare_category column as a integer of the fare_amount
df = df.withColumn('fare_category', df['fare_amount'].cast("int"))
df.show(5)

+--------------------+--------------------+-------------------+-------------------+---------+-------------+------------+-----------+---------+-------+----------+------------+------------+----+-----+---+----+------+-------------+
|           medallion|        hack_license|    pickup_datetime|   dropoff_datetime|trip_time|trip_distance|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|year|month|day|hour|minute|fare_category|
+--------------------+--------------------+-------------------+-------------------+---------+-------------+------------+-----------+---------+-------+----------+------------+------------+----+-----+---+----+------+-------------+
|07290D3599E7A0D62...|E7750A37CAB07D0DF...|2013-01-01 00:00:00|2013-01-01 00:02:00|      120|         0.44|         CSH|        3.5|      0.5|    0.5|       0.0|         0.0|         4.5|2013|   01| 01|  00|    00|            3|
|22D70BF00EEB0ADC8...|3FF2709163DE7036F...|2013-01-01 00:02:00|2013-01-01 00:02:00|        0|          0.0|         CSH|       27.0|      0.0|    0.5|       0.0|         0.0|        27.5|2013|   01| 01|  00|    02|           27|
|0EC22AAF491A8BD91...|778C92B26AE78A9EB...|2013-01-01 00:01:00|2013-01-01 00:03:00|      120|         0.71|         CSH|        4.0|      0.5|    0.5|       0.0|         0.0|         5.0|2013|   01| 01|  00|    01|            4|
|1390FB380189DF6BB...|BE317B986700F63C4...|2013-01-01 00:01:00|2013-01-01 00:03:00|      120|         0.48|         CSH|        4.0|      0.5|    0.5|       0.0|         0.0|         5.0|2013|   01| 01|  00|    01|            4|
|3B4129883A1D05BE8...|7077F9FD5AD649AEA...|2013-01-01 00:01:00|2013-01-01 00:03:00|      120|         0.61|         CRD|        4.0|      0.5|    0.5|       0.0|         0.0|         5.0|2013|   01| 01|  00|    01|            4|
+--------------------+--------------------+-------------------+-------------------+---------+-------------+------------+-----------+---------+-------+----------+------------+------------+----+-----+---+----+------+-------------+
only showing top 5 rows

In [13]:
# find the number of trips for each fare category
df.groupBy('fare_category').count().show(10)

+-------------+-----+
|fare_category|count|
+-------------+-----+
|           31|   13|
|           53|    2|
|           34|   12|
|           28|   38|
|           27|   46|
|           26|   51|
|           44|    2|
|           12|  416|
|           22|  118|
|          259|    1|
+-------------+-----+
only showing top 10 rows

In [14]:
# Find the number of trips in given minute of the hour
df.groupBy('minute').count().show(5)

+------+-----+
|minute|count|
+------+-----+
|    07|  165|
|    51|   44|
|    15|  231|
|    54|   10|
|    11|  221|
+------+-----+
only showing top 5 rows

# Sort and limit

In [16]:
# Find the top 5 fare categories with the highest number of trips
df.groupBy('fare_category').count().orderBy(['count'],ascending=False).limit(5).show()

+-------------+-----+
|fare_category|count|
+-------------+-----+
|            6| 1066|
|            7|  993|
|            5|  910|
|            8|  847|
|            9|  772|
+-------------+-----+

# Convert to RDD 
The data frame can be converted to an RDD using the rdd method. The resulting RDD will be an RDD of Row objects. Row objects are similar to dictionaries in that they have keys and values. In this case, the keys are the column names, and the values are the entries in the corresponding columns.

In [17]:
r = df.groupBy('minute').count().rdd
r.take(5)

[Row(minute='07', count=165),
 Row(minute='51', count=44),
 Row(minute='15', count=231),
 Row(minute='54', count=10),
 Row(minute='11', count=221)]

The more convenient way is to convert rows to tuples and then do the data analysis.

In [18]:
# convert to RDD
r = df.groupBy('minute').count().rdd.map(tuple)
r.take(5)

[('07', 165), ('51', 44), ('15', 231), ('54', 10), ('11', 221)]